<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SpendWise</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    {% if session.get("user_id") %}

    <nav class="navbar">

        <div class="logo">
            SpendWise
        </div>

        <div class="nav-links">

            <a href="{{ url_for('dashboard') }}">
                Dashboard
            </a>

            <a href="{{ url_for('expenses') }}">
                Expenses
            </a>

            <a href="{{ url_for('setup') }}">
                Financial Setup
            </a>

            <a href="{{ url_for('logout') }}"
               class="logout">
                Logout
            </a>

        </div>

    </nav>

    {% endif %}


    <main class="main-content">

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        {% block content %}
        {% endblock %}

    </main>

<footer class="footer">

    <div class="footer-content">

        <p class="creator-text">
            ❤️ Created by
            <strong>“Karunya Ram”</strong>
            <strong>“Rehan Sha”</strong>
            <strong>“Riya”</strong>
            <strong>“Rudraksh”</strong>
             <strong>“its_ankitaa015”</strong>
            ❤️
        </p>

        <a href="https://www.instagram.com/KARUNYA_1107/" target="_blank">
            📸 @Karunyaram_1107
        </a>

        <a href="https://www.instagram.com/v.rehansha/" target="_blank">
            📸 @v.rehansha
        </a>

        <a href="https://www.instagram.com/me.riyaaa8/" target="_blank">
            📸 @me.riyaaa8
        </a>
        
        <a href="https://www.instagram.com/rudrakshh.09/" target="_blank">
            📸 @rudrakshh.09
        </a>

         <a href="https://www.instagram.com/its_ankitaa015/" target="_blank">
            📸 @its_ankitaa015
        </a>


    </div>

</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>

</body>

</html>
